<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello world</title>
  </head>
  <body>
    Express Session
    <br>
    <a href="/muave">Mua ve tai day</a>
    <br>
    <a href="/vaorap">Vao rap tai day</a>
  </body>
</html>
